{% extends 'base.html' %}
{% block title %}Estudiantes{% endblock %}
{% block content %}
<div class="app-title"><div><h1><i class="fa fa-users"></i> Estudiantes</h1></div></div>
<button class="btn btn-primary mb-2" onclick="frmEstudiante()"><i class="fa fa-plus"></i> Nuevo</button>
<div class="row"><div class="col-lg-12"><div class="tile"><div class="tile-body">
    <div class="table-responsive">
        <table class="table table-bordered table-hover" id="tblEstudiantes">
            <thead class="thead-dark"><tr><th>Id</th><th>Código</th><th>DNI</th><th>Nombre</th><th>Carrera</th><th>Teléfono</th><th>Estado</th><th></th></tr></thead>
            <tbody></tbody>
        </table>
    </div>
</div></div></div></div>

<div id="modal_est" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg"><div class="modal-content">
        <div class="modal-header bg-primary">
            <h5 class="modal-title text-white" id="titleEst">Nuevo Estudiante</h5>
            <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
            <form id="frmEstudiante">
                <input type="hidden" id="id_est" name="id">
                <div class="row">
                    <div class="col-md-4"><div class="form-group"><label>Código</label>
                        <input class="form-control" type="text" name="codigo" id="codigoEst" placeholder="Código"></div></div>
                    <div class="col-md-4"><div class="form-group"><label>DNI</label>
                        <input class="form-control" type="text" name="dni" id="dniEst" placeholder="DNI"></div></div>
                    <div class="col-md-4"><div class="form-group"><label>Nombre</label>
                        <input class="form-control" type="text" name="nombre" id="nombreEst" placeholder="Nombre completo"></div></div>
                </div>
                <div class="row">
                    <div class="col-md-4"><div class="form-group"><label>Carrera</label>
                        <input class="form-control" type="text" name="carrera" placeholder="Carrera"></div></div>
                    <div class="col-md-4"><div class="form-group"><label>Dirección</label>
                        <input class="form-control" type="text" name="direccion" placeholder="Dirección"></div></div>
                    <div class="col-md-4"><div class="form-group"><label>Teléfono</label>
                        <input class="form-control" type="text" name="telefono" placeholder="Teléfono"></div></div>
                </div>
                <button class="btn btn-primary" type="button" onclick="registrarEst(event)">Guardar</button>
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
            </form>
        </div>
    </div></div>
</div>
{% endblock %}

{% block extra_js %}
<script>
var tableEst = $('#tblEstudiantes').DataTable({
    ajax: { url: '/Estudiantes/listar', dataSrc: '' },
    columns: [
        {data:'id'},{data:'codigo'},{data:'dni'},{data:'nombre'},{data:'carrera'},{data:'telefono'},
        {data:null,render:function(d){return d.estadoLabel==='Activo'?'<span class="badge badge-success">Activo</span>':'<span class="badge badge-danger">Inactivo</span>';}},
        {data:null,render:function(d){
            if(d.acciones==='editar,eliminar') return '<button class="btn btn-primary btn-sm" onclick="btnEditarEst('+d.id+')"><i class="fa fa-pencil-square-o"></i></button> <button class="btn btn-danger btn-sm" onclick="btnEliminarEst('+d.id+')"><i class="fa fa-trash-o"></i></button>';
            return '<button class="btn btn-success btn-sm" onclick="btnReingresarEst('+d.id+')"><i class="fa fa-reply-all"></i></button>';
        }}
    ]
});
function frmEstudiante(){ $('#titleEst').text('Nuevo Estudiante'); $('#frmEstudiante')[0].reset(); $('#id_est').val(''); $('#modal_est').modal('show'); }
function registrarEst(e){
    e.preventDefault();
    $.post('/Estudiantes/registrar', $('#frmEstudiante').serialize(), function(res){
        swal(res.msg,'',res.icono); if(res.icono==='success'){ $('#modal_est').modal('hide'); tableEst.ajax.reload(); }
    });
}
function btnEditarEst(id){
    $.get('/Estudiantes/editar/'+id, function(d){
        $('#titleEst').text('Editar Estudiante'); $('#id_est').val(d.id); $('#codigoEst').val(d.codigo); $('#dniEst').val(d.dni); $('#nombreEst').val(d.nombre); $('#modal_est').modal('show');
    });
}
function btnEliminarEst(id){ swal({title:'¿Dar de baja?',icon:'warning',buttons:true,dangerMode:true}).then(function(ok){ if(ok) $.get('/Estudiantes/eliminar/'+id,function(r){swal(r.msg,'',r.icono);tableEst.ajax.reload();}); }); }
function btnReingresarEst(id){ $.get('/Estudiantes/reingresar/'+id,function(r){swal(r.msg,'',r.icono);tableEst.ajax.reload();}); }
</script>
{% endblock %}
